body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  padding: 10px;
}
.bg-primary {
  background-color: #1c3cbd !important;
}
.bg-danger {
  background-color: #bd212b !important;
}
.img-fl {
  float: left;
  padding-right: 10px;
}

.fr {
  float: right;
}
.fl {
  float: left;
}
.line_height_35 {
  line-height: 35px;
}
a {
  text-decoration: none !important;
}
a:hover {
  color: dimgrey;
}

.main-container {
  max-width: 1250px !important;
}

.Capital_title {
  text-transform: uppercase;
}
.font-weight-bold {
  font-weight: bold;
}
.breadcrumb,
.breadcrumb a {
  color: white !important;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: white !important;
}
.pagination .page-item a {
  background-color: #212529;
  color: beige;
}

.animationload {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.osahanloading {
  animation: 1.5s linear 0s normal none infinite running osahanloading;
  background: #fed37f none repeat scroll 0 0;
  border-radius: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  top: 50%;
  width: 50px;
}
.osahanloading::after {
  animation: 1.5s linear 0s normal none infinite running osahanloading_after;
  border-color: #85d6de transparent;
  border-radius: 80px;
  border-style: solid;
  border-width: 10px;
  content: '';
  height: 80px;
  left: -15px;
  position: absolute;
  top: -15px;
  width: 80px;
}
@keyframes osahanloading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    background: #85d6de none repeat scroll 0 0;
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.commentBox .card-body {
  padding: 15px;
}
.commentBox .list-group {
  margin-bottom: 0;
}
.commentBox .card-title {
  display: inline;
}
.commentBox .label-info {
  float: right;
}
.commentBox li.list-group-item {
  border-radius: 0;
  border: 0;
  border-top: 1px solid #ddd;
}
.commentBox li.list-group-item:hover {
  background-color: rgba(86, 61, 124, 0.1);
}
.commentBox .mic-info {
  color: #666666;
  font-size: 13px;
}
.commentBox .mic-info span {
  color: #1c3cbd;
  font-size: 14px;
}
.commentBox .action {
  margin-top: 5px;
}
.commentBox .comment-text {
  font-size: 14px;
}
.commentBox .btn-block {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.commentBox .delete_comment {
  float: right;
}

@media (max-width: 720px) {
  .logo {
    text-align: center;
    margin: auto;
  }
}
